<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TravelApp</title>
    </head>

    <body>

        <header>
            <div class="logo">
                Your Dream Trip
            </div>
            <div class="motivation">
                Start now!
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <label>Destination</label>
                    <input id="city" type="text" name="input" value="" placeholder="    City">
                    <label>Departure Date (ex.: 2020-05-25)</label>
                    <input id="date" type="date" name="input" value="" placeholder="    Date">
                    <input id="submitB" type="submit" name="" value="Save Trip" onclick="return Client.action(event)" onsubmit="return Client.action(event)">
                </form>
            <section>

            <section>
                <strong>Your Dream Vacation</strong>
                <div id="results">
                    <div id="weather"></div>
                    <div id="time_OUTER"></div>
                    <div id="image"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Enjoy your Trip</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
