@import 'src/client/styles/variables.scss';

form {
    //border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: $primary-color;
}

input {
    padding: 10px 0px;
    //padding-left: 10px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0px;
    border-radius: 3px;
    border: none;
}

input[type=submit]{

    font-size: 1.5em;
    border-radius: 15px;
    background-color: $primary-color;
    border: solid white;
    
    &:hover{
        //color: $primary-color;
        background-color: white;
    }
}
